*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header nav{ 
    align-items: center;
    background-color: #000;
    height: 70px;
    margin-top: auto;
    
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin-top: 25px;
}


ul{
    justify-content: center;
    gap: 35px;
    font-size: 10px;

}
a{
  text-decoration: none;
    cursor: pointer;
    color: white;
}
  
.section-general {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-image: url("https://c.wallhere.com/photos/cf/24/nyc_blackandwhite_bw_usa_blancoynegro_nikon_unitedstates_noiretblanc-764490.jpg!d");
    padding: 20px;
    height: 200px;
  }
  
.section-general h1 {
    display: flex;
    flex: 1;
    font-size: 2rem;
    font-weight: bold;
  }
  
  #titulo1, #titulo2 {
    gap: 100px;
    color: white;
    margin: 0;
  }
  
.imagenprincipal {
    width: 250px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: -200px;
  }
  
section {
    padding: 40px;
    background-color: #fff;
    text-align: center;
    position: relative;
  }
  
p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
  }

.section-intro{
    background-color: rgb(244, 241, 234);
}

.section-galeria {
  display: grid;
  grid-auto-flow: column;
  background-color: black;
}

.gallery {

  width: 150px;
  height: auto;
}

.section-general{
    display: grid;
    grid-template-areas:
    "texto1  texto2";
 }

#titulo1{
    grid-area: texto1;
}

#titulo2{
  grid-area: texto2;
}  

.grid-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns:  30%  70%; /* Ajusta las proporciones de las columnas */

}

.section-sobremi-h1 {
  background-color: #333;
  font-size: 25px;
  color: white;
  font-weight: bold;
  writing-mode: vertical-lr;
  transform: rotate(180deg); 
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-sobremi {
  text-align: right;
  background-color: rgb(244, 241, 234);
}





  